@model CompleteProductDataModel

@{
    var product = Model.Product;
    var categories = Model.Categories;
    var authors = Model.Author;
    var productDetails = Model.ProductDetail;
    ViewData["Title"] = product.ProductName;
}

@if (Model.Breadcrumps != null && Model.Breadcrumps.Any())
{
    await Html.RenderPartialAsync("_Breadcrumps", Model.Breadcrumps);
}

<h1>@Model.Product.ProductName</h1>
@if (authors.Any())
{
    <div class="authors-list">
        Авторы:
        @foreach (var author in authors)
        {
            <a href="/author/@author.UniqueId">@author.LastName @author.FirstName @author.MiddleName</a>
        }
    </div>
}
<div class="row">
    <div class="col-md-4 order-sm-1">
        <img src="@product.ProductImage" alt="@product.ProductName" class="product-image" />
    </div>

    <div class="col-md-8 order-sm-0">
        <table class="table table-striped">
            <tr>
                <td>Год</td>
                <td>@product.ReleaseDate.ToString("dd MM yyyy")</td>
            </tr>

            @foreach (var detail in productDetails)
            {
                <tr>
                    <td>@detail.ParamName</td>
                    <td>@detail.StringValue</td>
                </tr>
            }

            @if (Model.Serie != null)
            {
                <tr>
                    <td>Серия</td>
                    <td><a href="/product-serie/@Model.Serie.SerieName">@Model.Serie.SerieName</a></td>
                </tr>
            }
        </table>

        <div class="buy-now">
            <div class="price-big">
                <div class="price">@Model.Product.Price руб</div>
                <form action="/cart/add" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="productid" value="@Model.Product.ProductId" />
                    <button class="button">Купить</button>
                </form>
            </div>
        </div>

        <p>@product.Description</p>
    </div>
</div>

@if (authors.Any())
{
    <hr/>
    <h2>Авторы:</h2>
    <div class="row">
    @foreach (var author in authors)
    {
        <div class="col-md-2">
            <img src="@author.AuthorImage" class="author-image" alt="@author.AuthorImage" />
        </div>
        <div class="col-md-10">
            <h4><a href="/author/@author.UniqueId">@author.FirstName @author.MiddleName @author.LastName</a></h4>
            <p>@author.Description</p>
        </div>
    }
    </div>
}